body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}
.mainnav div {
    z-index: 1;
    top: 0;
    left: 0;
}
.mainnav ul li {
    z-index: 1;
    top: 0;
    left: 0;  
}
.mainnav ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    margin: 20px;
    margin-left: 200px;
}
.mainnav ul div {
    display: flex;
    margin-left: 20px;
    margin-left: 600px;
}
.mainnav ul div li a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
main .topcontent img {
    margin-top: -90px;
    /* position: relative;
	top: -85px; */
}
.main {
    align-content: center;
    text-align: center;
}
.main .top {
    margin-top: -1000px;
    margin-bottom: 164px;
}
.main .top h1 {
    font-size: 120px;
    color: white;
    margin-bottom: 5px;
}
.main .top span {
    padding: 20px;
    /* margin-top: 100px;
    margin-bottom: 200px; */
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.main .top button {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 168px;
    font-size: 14px;
    font-weight: semibold;
    color: white;
    background-color: #C271FF;
    border-radius: 22px;
    border-color: #C271FF;
    box-shadow: 0px 0px 20px -2px #333435;
}
.main .tutors h1 {
    color: white;
    font-size: 32px;
    font-weight:lighter;
    margin-top: -80px;
}
.main .tutors h1 span {
    color: #C271FF;
    font-weight: bold;
}
.main .tutors .images {
    display: flex;
    margin-top: 160px;
    align-items: center;
    text-align: center;
    margin-left: 300px;
    color: white;
}
.main .tutors .images div {
    padding: 20px;
    margin-bottom: 60px;
}
.main .tutors .images div h3 {
    font-size: 18px;
    font-weight: bold;
}
.main .tutors .images div p {
    font-size: 16px;
    font-weight:lighter;
    font-style: italic;
    margin-top: -15px;
}
.review {
    background-color: #C271FF;
    margin-top: -58px;
    display: flex;
}
.review img {
    margin-top: 80px;
    margin-left: 200px;
    margin-bottom: 130px;
}
.review blockquote {
    font-size: 22px;
    font-weight: lighter;
    color: white;
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.review h3 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: -20px;
}
.review p {
    color: white;
    font-size: 22px;
    font-weight: lighter;
    margin-left: 40px;
}
.popular h3 {
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
    margin-top: 80px;
}
.popular h3 span {
    font-size: 32px;
    font-weight: bold;
    color: #C271FF;
}
.popular .group {
    display: flex;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.popular .group .pic {
    display: flex;
}
.popular .group .pic img {
    height: 30px;
    width: 30px;
}
.popular .group .pic h5 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    margin-left: 10px;
}
.popular .group .rate {
    display: flex;
}
.popular .group .rate div img {
    height: 15px;
    width: 85px;
}
.popular .group .rate p {
    font-size: 14px;
    font-weight: normal;
    margin-top: -1px;
    margin-left: 140px;
}
.popular .group div img {
    position: relative;
}
.popular .group .play {
    position: relative;
    top: -100px;
    left: 100px;
}
.popular .group .head h4 {
    font-size: 16px;
    font-weight: bold;
}
.popular .group .head p {
    font-size: 14px;
    font-weight: lighter;
    color: #071629;
    margin-top: -10px;
}
.popular .group .head {
    margin-top: -60px;
}
.member {
    background-color: #071629;
    color: white;
    margin-bottom: 60px;
}
.member h3 { 
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
    margin-top: 80px; 
    padding: 20px;
}
.member h3 span {
    font-size: 32px;
    font-weight: bold;
    color: #C271FF;
}
.member .xmember {
    display: flex;
    text-align: center;
    padding: 10px;
    margin-left: 300px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.member .xmember h4 {
    font-size: 18px;
    font-weight: bold;
}
.member .xmember p {
    font-size: 14px;
    font-weight: lighter;
}
.member .xmember div {
    margin-left: -30px;
    padding: 40px;
}
.member button {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 600px;
    font-size: 14px;
    font-weight: semibold;
    color: white;
    background-color: #C271FF;
    border-radius: 22px;
    border-color: #C271FF;
    box-shadow: 0px 0px 20px -2px #333435;
}
.faq h3 {
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
}
.faq .row-block {
    column-count: 2;
    column-gap: 220px;
    margin: 160px;
	margin-top: 20px;
	margin-bottom: 80px;
}
.faq .items-block h4 {
    font-size: 16px;
    font-weight: bold;
}
.faq .row-block p {
    font-size: 14px;
    font-weight: lighter;
    color: #071629;
    line-height: 1.3em;
}
footer {
    background-color: #071629;
    color: white;
    height: 250px;
    margin-bottom: -20px;
}
.global-block .row-block .imgg {
    padding: 20px;
    margin-left: 165px;
    margin-top: 80px;
}
.global-block .row-block div {
    display: flex;
    margin-left: 1000px;
    margin-top: -80px;
}
.global-block .row-block .social a {
    padding: 10px;
} 
.global-block p {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    margin-top: 80px;
}